<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wx.video.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.wx.video.entity.User" >
    <id column="uid" property="uid" jdbcType="INTEGER" />
    <result column="openid" property="openid" jdbcType="VARCHAR" />
    <result column="uname" property="uname" jdbcType="VARCHAR" />
    <result column="ugender" property="ugender" jdbcType="CHAR" />
    <result column="uaddress" property="uaddress" jdbcType="VARCHAR" />
    <result column="uintegral" property="uintegral" jdbcType="DOUBLE" />
    <result column="uavatar" property="uavatar" jdbcType="VARCHAR" />
    <result column="skey" property="skey" jdbcType="VARCHAR" />
    <result column="sessionkey" property="sessionkey" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    uid, openid, uname, ugender, uaddress, uintegral, uavatar, skey, sessionkey, create_time, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user
    where uid = #{uid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where uid = #{uid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wx.video.entity.User" >
    insert into user (uid, openid, uname, 
      ugender, uaddress, uintegral, 
      uavatar, skey, sessionkey, 
      create_time, update_time)
    values (#{uid,jdbcType=INTEGER}, #{openid,jdbcType=VARCHAR}, #{uname,jdbcType=VARCHAR}, 
      #{ugender,jdbcType=CHAR}, #{uaddress,jdbcType=VARCHAR}, #{uintegral,jdbcType=DOUBLE}, 
      #{uavatar,jdbcType=VARCHAR}, #{skey,jdbcType=VARCHAR}, #{sessionkey,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wx.video.entity.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        uid,
      </if>
      <if test="openid != null" >
        openid,
      </if>
      <if test="uname != null" >
        uname,
      </if>
      <if test="ugender != null" >
        ugender,
      </if>
      <if test="uaddress != null" >
        uaddress,
      </if>
      <if test="uintegral != null" >
        uintegral,
      </if>
      <if test="uavatar != null" >
        uavatar,
      </if>
      <if test="skey != null" >
        skey,
      </if>
      <if test="sessionkey != null" >
        sessionkey,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="openid != null" >
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="uname != null" >
        #{uname,jdbcType=VARCHAR},
      </if>
      <if test="ugender != null" >
        #{ugender,jdbcType=CHAR},
      </if>
      <if test="uaddress != null" >
        #{uaddress,jdbcType=VARCHAR},
      </if>
      <if test="uintegral != null" >
        #{uintegral,jdbcType=DOUBLE},
      </if>
      <if test="uavatar != null" >
        #{uavatar,jdbcType=VARCHAR},
      </if>
      <if test="skey != null" >
        #{skey,jdbcType=VARCHAR},
      </if>
      <if test="sessionkey != null" >
        #{sessionkey,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wx.video.entity.User" >
    update user
    <set >
      <if test="openid != null" >
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="uname != null" >
        uname = #{uname,jdbcType=VARCHAR},
      </if>
      <if test="ugender != null" >
        ugender = #{ugender,jdbcType=CHAR},
      </if>
      <if test="uaddress != null" >
        uaddress = #{uaddress,jdbcType=VARCHAR},
      </if>
      <if test="uintegral != null" >
        uintegral = #{uintegral,jdbcType=DOUBLE},
      </if>
      <if test="uavatar != null" >
        uavatar = #{uavatar,jdbcType=VARCHAR},
      </if>
      <if test="skey != null" >
        skey = #{skey,jdbcType=VARCHAR},
      </if>
      <if test="sessionkey != null" >
        sessionkey = #{sessionkey,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where uid = #{uid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wx.video.entity.User" >
    update user
    set openid = #{openid,jdbcType=VARCHAR},
      uname = #{uname,jdbcType=VARCHAR},
      ugender = #{ugender,jdbcType=CHAR},
      uaddress = #{uaddress,jdbcType=VARCHAR},
      uintegral = #{uintegral,jdbcType=DOUBLE},
      uavatar = #{uavatar,jdbcType=VARCHAR},
      skey = #{skey,jdbcType=VARCHAR},
      sessionkey = #{sessionkey,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where uid = #{uid,jdbcType=INTEGER}
  </update>
  <select id="selectByOpenId" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where openid = #{openid,jdbcType=INTEGER}
    limit 1
  </select>
</mapper>