<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wx.video.dao.VorderMapper" >
  <resultMap id="BaseResultMap" type="com.wx.video.entity.Vorder" >
    <id column="oid" property="oid" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="openid" property="openid" jdbcType="VARCHAR" />
    <result column="vid" property="vid" jdbcType="INTEGER" />
    <result column="video_id" property="videoId" jdbcType="VARCHAR" />
    <result column="otype" property="otype" jdbcType="VARCHAR" />
    <result column="oprice" property="oprice" jdbcType="DOUBLE" />
    <result column="ointegral" property="ointegral" jdbcType="DOUBLE" />
    <result column="otime" property="otime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="out_trade_no" property="outTradeNo" jdbcType="VARCHAR" />
    <result column="transaction_id" property="transactionId" jdbcType="VARCHAR" />
    <result column="time_end" property="timeEnd" jdbcType="TIMESTAMP" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    oid, uid, openid, vid, video_id, otype, oprice, ointegral, otime, status, out_trade_no, 
    transaction_id, time_end, description
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from vorder
    where oid = #{oid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from vorder
    where oid = #{oid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wx.video.entity.Vorder" >
    insert into vorder (oid, uid, openid, 
      vid, video_id, otype, 
      oprice, ointegral, otime, 
      status, out_trade_no, transaction_id, 
      time_end, description)
    values (#{oid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{openid,jdbcType=VARCHAR}, 
      #{vid,jdbcType=INTEGER}, #{videoId,jdbcType=VARCHAR}, #{otype,jdbcType=VARCHAR}, 
      #{oprice,jdbcType=DOUBLE}, #{ointegral,jdbcType=DOUBLE}, #{otime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=CHAR}, #{outTradeNo,jdbcType=VARCHAR}, #{transactionId,jdbcType=VARCHAR}, 
      #{timeEnd,jdbcType=TIMESTAMP}, #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wx.video.entity.Vorder" >
    insert into vorder
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="oid != null" >
        oid,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="openid != null" >
        openid,
      </if>
      <if test="vid != null" >
        vid,
      </if>
      <if test="videoId != null" >
        video_id,
      </if>
      <if test="otype != null" >
        otype,
      </if>
      <if test="oprice != null" >
        oprice,
      </if>
      <if test="ointegral != null" >
        ointegral,
      </if>
      <if test="otime != null" >
        otime,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="outTradeNo != null" >
        out_trade_no,
      </if>
      <if test="transactionId != null" >
        transaction_id,
      </if>
      <if test="timeEnd != null" >
        time_end,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="oid != null" >
        #{oid,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="openid != null" >
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="vid != null" >
        #{vid,jdbcType=INTEGER},
      </if>
      <if test="videoId != null" >
        #{videoId,jdbcType=VARCHAR},
      </if>
      <if test="otype != null" >
        #{otype,jdbcType=VARCHAR},
      </if>
      <if test="oprice != null" >
        #{oprice,jdbcType=DOUBLE},
      </if>
      <if test="ointegral != null" >
        #{ointegral,jdbcType=DOUBLE},
      </if>
      <if test="otime != null" >
        #{otime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="outTradeNo != null" >
        #{outTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="transactionId != null" >
        #{transactionId,jdbcType=VARCHAR},
      </if>
      <if test="timeEnd != null" >
        #{timeEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wx.video.entity.Vorder" >
    update vorder
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="openid != null" >
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="vid != null" >
        vid = #{vid,jdbcType=INTEGER},
      </if>
      <if test="videoId != null" >
        video_id = #{videoId,jdbcType=VARCHAR},
      </if>
      <if test="otype != null" >
        otype = #{otype,jdbcType=VARCHAR},
      </if>
      <if test="oprice != null" >
        oprice = #{oprice,jdbcType=DOUBLE},
      </if>
      <if test="ointegral != null" >
        ointegral = #{ointegral,jdbcType=DOUBLE},
      </if>
      <if test="otime != null" >
        otime = #{otime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="outTradeNo != null" >
        out_trade_no = #{outTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="transactionId != null" >
        transaction_id = #{transactionId,jdbcType=VARCHAR},
      </if>
      <if test="timeEnd != null" >
        time_end = #{timeEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where oid = #{oid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wx.video.entity.Vorder" >
    update vorder
    set uid = #{uid,jdbcType=INTEGER},
      openid = #{openid,jdbcType=VARCHAR},
      vid = #{vid,jdbcType=INTEGER},
      video_id = #{videoId,jdbcType=VARCHAR},
      otype = #{otype,jdbcType=VARCHAR},
      oprice = #{oprice,jdbcType=DOUBLE},
      ointegral = #{ointegral,jdbcType=DOUBLE},
      otime = #{otime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=CHAR},
      out_trade_no = #{outTradeNo,jdbcType=VARCHAR},
      transaction_id = #{transactionId,jdbcType=VARCHAR},
      time_end = #{timeEnd,jdbcType=TIMESTAMP},
      description = #{description,jdbcType=VARCHAR}
    where oid = #{oid,jdbcType=INTEGER}
  </update>
  <select id="myOrder" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from vorder
    where uid = #{uid,jdbcType=INTEGER} and status = "1"
    order by otime desc
  </select>
  
  <select id="myOrderVidList" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select 
      vid
    from vorder
    where uid = #{uid,jdbcType=INTEGER} and status = "1"
  </select>
  
  <select id="getOrderByTradeNo">
  	select 
    <include refid="Base_Column_List" />
    from vorder
    where out_trade_no = #{tradeNo, jdbcType=VARCHAR}
    limit 1
  </select>
</mapper>